<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= image_tag "jrelist.png" %></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="categoryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Select Tags</a>
          <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
            <% @tags.take(10).each do |tag| %>
              <li><%= link_to tag.name, tag_episodes_path(tag.id), class: 'dropdown-item' %></li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/dinnu93?ref_src=twsrc%5Etfw" class="nav-link twitter-follow-button" data-show-count="false">Follow @dinnu93</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </li>
      </ul>
    </div>
    <% if params[:tag_id].blank? %>
    <div class="d-flex w-50">
      <form class="w-75 ms-5">
        <input type="search" name="q" class="form-control"  placeholder="Search for podcasts, guests & topics">
      </form>
    </div>
    <% end %>
  </div>
</nav>

<p id="notice"><%= notice %></p>
<div class="container">
  <div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @episodes %>
  </div>
  <%= will_paginate @episodes, page_links: true, container: false, previous_label: '<span class="bi bi-chevron-left"></span>Prev', next_label: 'Next<span class="bi bi-chevron-right"></span>' %>
</div>
</div>

<div class="container episodes">
  <div class="row">
    <% @episodes.each do |episode| %>
    <div class="col">
      <div class="card">
        <a href=<%= "/episodes/#{episode.id}" %>>
        <%= image_tag episode.image_url, class: "episode-image" %>
        </a>
        <div class="card-body">
          <h5 class="card-title"><%= link_to episode.name, "/episodes/#{episode.id}" %></h5>
            <audio controls>
              <source src=<%= episode.audio_preview_url %> type="audio/mp3">
            </audio>
          <p class="card-text">
            <br>
            <div class=<%= episode.id %>>
            <% episode.tags.each do |tag| %>
             <span class="badge bg-secondary"><%= link_to tag.name, "/tags/#{tag.id}/episodes", class: 'tag-link' %></span>
            <% end %>
            </div>
            <br><br>
            <div class="input-group mb-3">
              <input type="text" data-behavior="autocomplete" class="form-control" placeholder="Add New Tag..." aria-describedby="button-add-tag" id=<%= "#{episode.id}" %>>
              <button class="btn btn-success button-add-tag" type="button" id=<%= "#{episode.id}" %>><span style="font-size: 20px;" class="bi bi-plus-circle-fill"></span></button>
            </div>
            <!--
            <%= raw short_description(episode.html_description) %> <%= link_to "read more", "/episodes/#{episode.id}" %>
            -->
          </p>
          <p class="card-footer">
            <%= date_converter(episode.release_date) %>&emsp;<span class="bi bi-clock">&nbsp;<%= minute_converter(episode.duration_ms) %> minutes</span><br>
            <%= link_to "Open in Spotify", episode.uri, class: "btn btn-spotify btn-success", target: "_blank" %>
          </p>
        </div>
      </div>
      
      
    </div>
    <% end %>
  </div>
</div>
