<!-- Horizontal Ad -->
<!-- <div class="container" style="margin-top: 80px;">
  <ins class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-8556906598758519"
  data-ad-slot="1330041420"
  data-ad-format="auto"
  data-full-width-responsive="true"></ins>
  <script>
   (adsbygoogle = window.adsbygoogle || []).push({});
 </script>
</div> -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= image_tag "jrelist.png" %></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="categoryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Select Topics</a>
          <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
            <li>
              <%= link_to "Comedy", root_path(q: 'standup comedy comedian'), class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Archeology", root_path(q: '"Graham Hancock" "Randall Carlson" "John Anthony West" "Robert Schoch"'), class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Neuroscience", root_path(q: 'Neuroscientist Neuroscience'), class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Psychedelics", root_path(q: 'psychedelics fungi psychedelic'), class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Artificial Intelligence", root_path(q: '"Artificial Intelligence" "AI"'), class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Philosophy", root_path(q: 'Philosophy Philosopher'), class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Nutrition", root_path(q: 'nutrition nutritional nutritionist'), class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Scientists", root_path(q: 'Scientist'), class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Mathematicians", root_path(q: 'Mathematician'), class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Inventors", root_path(q: 'Inventor'), class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Entrepreneurs", root_path(q: 'Entrepreneur CEO'), class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Psychologists", root_path(q: 'psychologist psychology'), class: "dropdown-item" %>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="guestDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Select Guests</a>
          <ul class="dropdown-menu" aria-labelledby="guestDropdown">
            <% [
              "Elon Musk", 
              "Jordan Peterson", 
              "Forrest Galante", 
              "Bret Weinstein",
              "Dave Chappelle",
              "Shane Smith",
              "Alex Jones",
              "Randall Carlson",
              "Graham Hancock",
              "Steven Rinella"
              ].each do |guest| %>
            
            <li>
              <%= link_to guest, root_path(q: "\"#{guest}\"", search: "name"), class: "dropdown-item" %>
            </li>
            <% end %>
            
          </ul>
        </li>
      </ul>
    </div>

    <div class="d-flex w-100">
      <form class="w-75 ms-5">
        <input type="search" name="q" class="form-control"  placeholder="Search for podcasts, guests & topics">
      </form>
    </div>
  </div>
</nav>

<p id="notice"><%= notice %></p>
<div class="container">
  <div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @episodes %>
  </div>
  <%= will_paginate @episodes, page_links: true, container: false, previous_label: '<span class="bi bi-chevron-left"></span>Prev', next_label: 'Next<span class="bi bi-chevron-right"></span>' %>
</div>
</div>

<div class="container episodes">
  <div class="row">
    <% @episodes.each do |episode| %>
    <div class="col">
      <div class="card">
        <a href=<%= "/episodes/#{episode.id}" %>>
        <%= image_tag episode.image_url, class: "episode-image" %>
        </a>
        <div class="card-body">
          <h5 class="card-title"><%= link_to episode.name, "/episodes/#{episode.id}" %></h5>
            <audio controls>
              <source src=<%= episode.audio_preview_url %> type="audio/mp3">
            </audio>
          <p class="card-text">
            <br>
            <div class=<%= episode.id %>>
            <% episode.tags.each do |tag| %>
             <span class="badge bg-secondary"><%= link_to tag.name, "/tags/#{tag.id}/episodes", class: 'tag-link' %></span>
            <% end %>
            </div>
            <br><br>
            <div class="input-group mb-3">
              <input type="text" data-behavior="autocomplete" class="form-control" placeholder="Add New Tag..." aria-describedby="button-add-tag" id=<%= "#{episode.id}" %>>
              <button class="btn btn-success button-add-tag" type="button" id=<%= "#{episode.id}" %>><span style="font-size: 20px;" class="bi bi-plus-circle-fill"></span></button>
            </div>
            <!--
            <%= raw short_description(episode.html_description) %> <%= link_to "read more", "/episodes/#{episode.id}" %>
            -->
          </p>
          <p class="card-footer">
            <%= date_converter(episode.release_date) %>&emsp;<span class="bi bi-clock">&nbsp;<%= minute_converter(episode.duration_ms) %> minutes</span><br>
            <%= link_to "Open in Spotify", episode.uri, class: "btn btn-spotify btn-success", target: "_blank" %>
          </p>
        </div>
      </div>
      
      
    </div>
    <% end %>
  </div>
</div>

