<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= image_tag "jrelist.png" %></a>
    <div class="d-flex w-100 align-items-center">
      <form class="w-50 ms-5">
        <%= search_field_tag "q", @q, class: "form-control", placeholder: "Search" %>
        
      </form>
    </div>
  </div>
</nav>

<p id="notice"><%= notice %></p>
<div class="container">
  <div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @episodes %>
  </div>
  <%= will_paginate @episodes, page_links: false, container: false, previous_label: '<span class="bi bi-chevron-left"></span>Prev', next_label: 'Next<span class="bi bi-chevron-right"></span>' %>
</div>
</div>

<div class="container episodes">
  <div class="row">
    <% @episodes.each do |episode| %>
    <div class="col">
      <div class="card">
        <a href=<%= episode.web_url %> target="_blank">
        <%= image_tag episode.image_url, class: "episode-image" %>
        </a>
        <div class="card-body">
          <h5 class="card-title"><%= link_to episode.name, episode.web_url, target: "_blank" %></h5>
            <audio controls>
              <source src=<%= episode.audio_preview_url %> type="audio/mp3">
            </audio>
          <p class="card-text">
            <%= raw short_description(episode.html_description) %> <%= link_to "read more", "/episodes/#{episode.id}" %>
          </p>
          <p class="card-footer">
            <%= date_converter(episode.release_date) %>&emsp;<span class="bi bi-clock">&nbsp;<%= minute_converter(episode.duration_ms) %> minutes</span><br>
            <%= link_to "Open in Spotify", episode.uri, class: "btn btn-spotify btn-success", target: "_blank" %>
          </p>
        </div>
      </div>
      
      
    </div>
    <% end %>
  </div>
</div>

